.tabs-md .tabbar, .tabs-ios .tabbar {
    height: 57px !important;
    background-color:#77d178 !important;
}

//.tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only:nth-child(2) {
//  border-bottom:1.75px solid white;
 // border-top:1px solid white;
//}

//#tab-t0-1.tab-button.has-icon.icon-only.disable-hover {
//  border-left: 1px solid white;
//  border-right: 1px solid white;
//}

.tabs-md .tab-button[aria-selected=true] {
  color: #fff; /*your  text color */
  background: #619b61; /* your background color*/
  border-left:1px solid #3c5c41;
  border-right:1px solid #3c5c41;
}
