.background-welcome {
  background: url("../../assets/damn.png") no-repeat center center;
  background-size:cover;
  width:100%;
  height:100%;
}

.button-welcome {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 1.3em 1.6em;
  display: flex;
  align-items: flex-start;
  background: #009ED8;
  border: none;
  color: rgb(224, 45, 45);
  transition: 0.2s;
}
.button-welcome:before,
.button-welcome:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}

.button-welcome:hover {
  background: #0079a5;
}
.button-welcome:active,
.button-welcome:focus {
  background: #002e3f;
  outline: none;
}
.button-welcome {
  font-family:"font";
  min-width: 15em;
}
.arrow {
  background: white;
}
.arrow:hover {
  background: white;
}
.arrow:active,
.arrow:focus {
  background: white;
}
.arrow:after {
  color: rgb(224, 45, 45);
  content: "»»";
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-right:10px;
}
.arrow:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}

.button-welcome {
  box-shadow:0px 0px 3px black;
  width:70%;
  border-radius:5px;
}

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}

.container {
  width:100%;
  height:35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom:5vh;
}

@font-face {
  font-family: "font";
  src: url(../../assets/Typo.otf);
}

.cookcrawler {
  margin-bottom:8vh;
  min-width:100%;
  margin-left:50px;
  font-size:6.5vh;
  text-shadow:1px 1px 4px rgb(42, 42, 42);
  color:white;
  font-family: "font";
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
