page-search {
  .card {
    max-height:20vh;
    max-width:20vh;
    background-color: #f1ffea;
    -webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    border-radius:4px;
    padding:10px;
    padding-top:13px;
    animation-name: stretch;
    animation-duration: 0.2s;
    animation-direction: alternate;
  }

  @keyframes stretch {
    0% {
      transform: scale(.1);
      border-radius: 100%;
    }
    50% {
    }
    100% {
      transform: scale(1.0);
      border-radius: 4px;
    }
  }

  .margin1 {
    margin-left:15px;
  }

  .margin2 {
      margin-right:15px;
  }

  .grid {
    height:calc(100% - 57px);
  }

  .background-search {
    background-color: #beffb3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23a8ffa0' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%23beffb3' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23bafbaf' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23b6f6ab' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23b1f2a7' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23adeda3' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a9e99f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a5e49b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23a1e097' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%239ddc93' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2398d78f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2394d38c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2390cf88' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%238cca84' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2388c680' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2384c27c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2380bd78' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%237cb975' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2378b571' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed !important;
    background-size: cover !important;
    height: 100vh;
  }

  .label-search {
    text-align: center;
    width: 100%;
    margin-top:5px;
    font-weight: bold;
    color:#656f68;
    font-size: 3vh;
  }
}
