page-search {
  .card {
    max-height:20vh;
    max-width:20vh;
    background-color: #fffcf3;
    -webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
    border-radius:9px;
    padding:0;
    padding-top:10px;
  }

  .margin1 {
    margin-left:15px;
  }

  .margin2 {
      margin-right:15px;
  }
  .grid {
    height:calc(100% - 57px);
  }

  .background-search {
    background-color: #deffbf;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    height: 100vh;
  }

  .label-search {
    text-align: center;
    width: 100%;
    margin-top:5px;
    background-color: #4c6d4c;
    color:white;
    font-size: 3vh;
  }
}
