.align-center {
  text-align: center;
  align-items:center;
  justify-content: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.profile-pic {
  border-radius: 100%;
  width:11.2vh;
  height:11.3vh;
}

.border-profile-picture {
  width:13vh;
  height:13vh;
  border-radius:100%;
  border:1px dashed black;
  position: absolute;
  animation: spin 11s infinite linear;
}

.name-tag {
  font-weight: bold;
  font-size:17px;
  margin-top:1vh;
  line-height: 0.8;
}

.description {
  font-size:14px;
}

.trophys {
  background-color: white;
  border-radius:10px 10px 0 0;
  width:90%;
  height:60px;
  position: absolute   !important;
  left: 5%;
  bottom:-4px;
  font-weight: 700;
  padding-bottom: 70px !important;
}

.photo {
  margin-top:-50px;
}
page-list-master {
  .toolbar {
    height:40vh !important;

  }

  .card-md, .card-ios {
    box-shadow:none;
    margin-top: 4vh;
  }

  .text-content-list-master {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:3vw;
    padding-right:3vw;
    height:100%;
    font-weight:100;
    font-size:13px;
    padding-bottom:2vw;
    overflow: hidden;
  }

  .toolbar-background, .toolbar-background-md, .toolbar-background-ios {
    height:100vh;
    background-color: #beffb3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23a8ffa0' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%23beffb3' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23bafbaf' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23b6f6ab' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23b1f2a7' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23adeda3' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a9e99f' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a5e49b' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23a1e097' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%239ddc93' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2398d78f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2394d38c' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2390cf88' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%238cca84' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2388c680' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2384c27c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2380bd78' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%237cb975' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2378b571' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed !important;
    background-size: cover !important;
  }
}

.content-main-page{
  background-color:white;
}
.header, .scroll-content {
  background-color:transparent;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-position: left 0 top -24px !important;

}

.icon-margin {
  margin-top:7px;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.intro-image {
  width: 40vh;
  margin-top:3vh;
}

.star, .award, .money, .intro-image {
  animation: fadein 1.2s normal linear;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
